@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  background-color: rgb(7, 7, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  height: 70vh;
  width: 70vw;
  background-image: linear-gradient(red, blue);
  animation: 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) 0s infinite alternate none running rotate;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  filter: blur(100px);
}

@media screen and (min-width: 767px) {
  .gradient {
    height: 40vh;
    width: 40vw;
    filter: blur(100px);
  }
}